{% extends "/base.html" %}
{% set title = "amp6" %}
{% block content %}
<h2>my 41hz.com amp6 project</h2>

<p>I'm building a little stereo amp based on the <a
    href="http://41hz.com">41hz.com</a> amp6 kit.  I'm doing this because
typical stereo receivers waste a lot of power due to being class A/B
amplifiers, they're somewhat-annoyingly large, and just because I like
designing/building stuff.  I'm not sure if I'll be able to notice a difference
in sound since I don't consider myself to have great hearing -- not to mention
the fact that I'm generally listening to music from a computer with cheap
on-board sound -- but the 41hz amps are considered to have very high fidelity,
as are other amps based on Tripath chips in general.</p>

<p>I'm spending more than the minimum for decent quality parts, although it is
still very cheap by "audiophile" standards.  The most notable expense is the
alps blue velvet potentiometer.</p>

<p>Another issue is "vampire power" or the trickle of power consumption that
many devices exhibit when apparently turned off.  This amp will be designed so
that the power switch will cut off the a/c connection and no transformers or
anything else will be consuming any energy when it is switched off.</p>

<h3>controls/inputs/outputs</h3>

<p>back panel:</p>

<p>
    <ul>
        <li>a/c power input</li>
        <li>two pairs of speaker binding posts</li>
        <li>four pairs of rca inputs</li>
    </ul>
</p>

<p>front panel:</p>

<p>
    <ul>
        <li>power switch</li>
        <li>mute (sleep) switch</li>
        <li>source 1/2/none toggle switch</li>
        <li>source 3/4/none toggle switch</li>
        <li>volume knob</li>
    </ul>
</p>

<h3>parts list</h3>

<p>
<table class="tabular">
    <thead>
    <tr><th>    part                          </th><th>source       </th><th align="right">price </th><th align="right">#</th></tr>
    </thead>

    <tbody>
    <tr><td><a
            href="http://41hz.com/main.aspx?pageID=118">
            41hz.com amp6-basic kit</a>       </td><td>41hz         </td><td align="right">43.43 </td><td align="right">1</td></tr>

    <tr><td><a
            href="http://shop.ebay.com/items/?_nkw=gold+binding+post">
            gold binding post pair</a>        </td><td>ebay         </td><td align="right">5.00  </td><td align="right">2</td></tr>

    <tr><td><a
            href="http://electronics.shop.ebay.com/items/?_nkw=rca+chassis+(jack%2C+female%2C+socket)&_sacat=293&_osacat=293">
            gold rca female jack pair</a>     </td><td>ebay         </td><td align="right">3.00  </td><td align="right">4</td></tr>

    <tr><td><a
            href="http://shop.ebay.com/items/?_nkw=iec power (socket%2C jack)&_mPrRngCbx=1&_udlo=&_udhi=4">
            iec power jack</a>                </td><td>ebay         </td><td align="right">3.00  </td><td align="right">1</td></tr>

    <tr><td><a
            href="http://shop.ebay.com/items/?_nkw=12v+5a+lcd+power">
            12V 5A power supply brick</a>     </td><td>ebay         </td><td align="right">12.00 </td><td align="right">1</td></tr>

    <tr><td><a
            href="http://www.amb.org/shop/">
            alps blue velvet 50k stereo</a>   </td><td>amb.org      </td><td align="right">16.00 </td><td align="right">1</td></tr>

    <tr><td>shipping/handling                 </td><td>amb.org      </td><td align="right">6.00  </td><td align="right">1</td></tr>

    <tr><td><a
            href="http://web-tronics.com/sponrosw6.html">
            spdt rocker switch</a>            </td><td>web-tronics  </td><td align="right">1.29  </td><td align="right">2</td></tr>

    <tr><td><a
            href="http://web-tronics.com/8012.html">
            8012 dpdt on/off/on toggle switch</a>
                                              </td><td>web-tronics  </td><td align="right">1.34  </td><td align="right">2</td></tr>
    <tr><td>shipping/handling                 </td><td>web-tronics  </td><td align="right">11.65 </td><td align="right">1</td></tr>
    </tbody>

    <tfoot>
    <tr><th>total                             </th><td>             </td><td align="right">107.84</td><td align="right"> </td></tr>
    </tfoot>
</table>
</p>

<p>Plus maybe $10-20 for a chassis of some sort.  I'm not sure if I'll reuse
something weird (like a metal lunchbox) or get one of the cheap enclosures from
web-tronics (like <a href="http://web-tronics.com/la-7.html">this one</a>).</p>

<h3>concerns about specific parts</h3>

<h4>source selector switch(es)</h4>

<p>Rotary switches seem to be more expensive than toggles for the same amount
of switching.  I don't have much personal preference, so toggles it is.  Most
switches have copper contacts (the parts inside which actually touch each other
when switched) which are fine for most purposes, but can cause sound
degradation if used with audio, especially line-level, which is relatively
weak.  Gold-plated contacts avoid this problem by the fact that gold doesn't
oxidize, but gold contacts are usually plated over nickel, which is a
comparatively poor conductor, although the real-world significance of this is
questionable.  Nickel is looked down upon by "audiophiles" which is of dubious
validity, but we can mostly ignore the issue because switches with silver
contacts seem to be more common anyway, and maybe cheaper.  Silver contacts do
oxidize, but the layer of <a
    href="http://en.wikipedia.org/wiki/Silver_oxide">silver oxide</a> is very
thin and the action of switching will generally wipe it away, not to mention
the fact that silver oxide is conductive anyway, while <a
    href="http://en.wikipedia.org/wiki/Copper(I)_oxide">copper oxide</a> is a
semiconductor and apparently acts as an insulator in this circumstance.</p>

<p>If you only had two inputs, an on/on DPDT would be appropriate, but I want
four inputs, so I'll use two DPDT on/off/on switches, with one switching
between source 1/2 and the other switching between 3/4.  If both switches are
in an "on" position, I'll have two sources mixed together, which is not
something I need or want, so it will require slightly more human effort to make
sure one switch is off before using the other, but that's negligible,
especially since I rarely switch sources.  I couldn't find any actual reviews
of web-tronics, but the people at the diyaudio.com forums <a
    href="http://www.google.com/search?q=site%3Adiyaudio.com+web-tronics.com">seem
    to be okay with them</a>.</p>

<p>It took a long time for me to get a straight answer on whether the negatives
from the input sources need to be kept separate from each other (requiring a
4PDT switch to switch both the positives and the negatives), but finally I
discovered that the answer is no.  You just connect all the negatives together,
and only the positives go through the switches.</p>

<h3>sketch of layout</h3>

<p>click to enlarge</p>

<p><a href="/images/amp6/amp6-sortoffinal.png"><img src="/images/amp6/amp6-sortoffinal-thumb.png"></a></p>

<h2>UPDATE - a new addition</h2>

<p>I've decided that the noise encountered by analog connections from computer
to amp is unacceptable anymore, so I'm going to cannibalize a Griffin iMic USB
DAC and put it inside the amp.  It's small, cheap, is powered by USB, is
compatible with Linux with no special configuration needed, and has a good
reputation for its sound quality.  Wiring it in will be simple (using a USB
female jack like <a href="http://www.l-com.com/item.aspx?id=4758">this</a>),
and the end result will be that the line-level analog signal will only exist
for a very small length of wire inside of the amp.  This should reduce noise
greatly.</p>


<h3>the end, for now</h3>

<p>I probably won't be building this until spring/summer 2009.  I seem to have
gotten all the parts and design figured out, so until then, this page remains
to be continued...</p>

{% endblock content %}
