{% extends "/base.html" %}
{% set title = "flash making firefox raise itself" %}
{% block content %}

<h1>how to get flash to stop raising your firefox window</h1>

<p>It seems that for years, Mozilla / Phoenix / Firebird / Firefox on Unix/X11 have had a problem with flash where if you interact with a flash object on a page, the whole browser window will just decide to raise itself to the top of the stack for no reason.  I remember looking for a bug entry for the problem way back and finding one, but that's about all I remember.  On a whim I thought of an idea with library preloading and gave it a whirl, and it worked.</p>

<p>Download: <a href="http://incise.org/files/dev/interceptor.c">http://incise.org/files/dev/interceptor.c</a></p>

<p>Usage:</p>

<pre class="sh"><code>$ gcc interceptor.c -o interceptor.so -shared -lX11 -ldl -rdynamic
$ LD_PRELOAD=./interceptor.so
$ export LD_PRELOAD
$ firefox &amp;
(... look at messages if you want to ...)
$ exit</code></pre>

<p>Packages needed (Ubuntu): libx11-dev, gcc, libc-dev</p>

<p>Other distros/BSDs: you basically need gcc and whatever packages will give you the files Xlib.h and dlfcn.h</p>

<p>The basic idea of how it works is that in X11, windows raise themselves by calling XRaiseWindow.  We can intercept these calls and conditionally drop them, causing the window to stay right where it is.  There are some imperfect heuristics involved which you may need to alter.  It looks for a window with WM_CLASS of ("Gecko", "Firefox-bin"), so if you are using Mozilla or any other Gecko browser besides Firefox, then it will be different.  To check, run <code>xprop | grep WM_CLASS</code> and click the cross cursor on your browser window.  This is what you will need to change it to.</p>

<p>It also only blocks XRaiseWindow requests from windows that are more than 400 pixels wide and tall.  This keeps it from interfering with menus.  A better idea might be to check for override_redirect, or various window properties.. but I'll have to get around to that some other time.  For now, it won't work if you have a really small browser window, which you probably don't anyway.</p>

{% endblock content %}
