{% extends "/base.html" %}
{% set title = "flypper" %}
{% block content %}
<a href="flypper.html">flypper</a> is a small Python program to implement X11 screen edge flippers.  These are 1 pixel-thick invisible strips along your screen edges that allow you to "flip" between viewports/desktops by just pushing your mouse up against the screen edge, or clicking it, or while moving a window up against it, or whatever you want.  You can configure them for basically any use, such as popping up a window that says "you are a chocolate dumpling" when you click on the right screen edge.

(Work in progress)

<h2>See Also</h2>

<ul>
 <li><a href="viewports-and-virtual-desktops.html">viewports and virtual desktops</a></li>
 <li><a href="whimsy.html">whimsy</a></li>
 <li><a href="tinywm.html">tinywm</a></li>
</ul>
{% endblock content %}
