{% extends "/base.html" %}
{% set title = "gainclone" %}
{% block content %}

<p>I had <a href="amp6.html">previously planned</a> to build a small stereo amp
using the amp6 kit from 41hz.com.  After deciding I wanted a bit more power, I
did some research and am now going to build a so-called <a
    href="http://en.wikipedia.org/wiki/Gainclone">gainclone</a> amp based on
the LM3886 chip.</p>

<p>Here's a recap of some of my motivations from the other page:</p>

<blockquote>
     I'm doing this because typical stereo receivers waste a lot of power due
     to being class A/B amplifiers, they're somewhat-annoyingly large, and just
     because I like designing/building stuff. I'm not sure if I'll be able to
     notice a difference in sound since I don't consider myself to have great
     hearing -- not to mention the fact that I'm generally listening to music
     from a computer with cheap on-board sound -- but [chip]amps are
     considered to have very high fidelity [...]
</blockquote>
 <blockquote>
     Another issue is "vampire power," or the trickle of power consumption that
     many devices exhibit when apparently turned off. This amp will be designed
     so that the power switch will cut off the a/c connection and no
     transformers or anything else will be consuming any energy when it is
     switched off.
</blockquote>

<h2>parts list</h2>

<p><table>
    <thead>
        <tr><th>part</th><th>source</th><th>price</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://stores.shop.ebay.com/8Audio__W0QQ_sidZ416308020?_nkw=lm3886&amp;submit=Search">LM3886 amp kit</a></td>
            <td><a href="http://stores.shop.ebay.com/8Audio">8audio on ebay</a></td>
            <td>$58.00</td>
        </tr>
        <tr>
            <td><a href="http://www.antekinc.com/trans.html">300<abbr title="volt-amps, also known as watts">VA</abbr> 22<abbr title="volts">V</abbr> toroidal transformer</a></td>
            <td><a href="http://www.antekinc.com">Antek</a></td>
            <td>$46.00</td>
        </tr>
        <tr>
            <td><a href="http://www.google.com/products/catalog?hl=en&q=griffin+imic&cid=17017937447002039085#ps-sellers">Griffin iMic 2 USB sound adapter</a></td>
            <td>&nbsp;</td>
            <td>$35.00</td>
        </tr>
        <tr>
            <td><a href="http://www.amb.org/shop/">Alps blue velvet 50k stereo volume <abbr title="potentiometer">pot</abbr></a></td>
            <td><a href="http://www.amb.org/shop/">AMB.org</a></td>
            <td>$22.00</td>
        </tr>
        <tr>
            <td colspan="3">(other parts to be filled in later)</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2">total</th>
            <td>$139.00</td>
        </tr>
    </tfoot>
</table></p>

<h2>the amp kit</h2>

<p><img src="/images/gainclone/8audio-boards-300.jpg">
<img src="/images/gainclone/8audio-psu-300.jpg"><br>
<cite>LM3886 amp boards (left) and power supply (right)</cite></p>

<p>There are apparently a lot of shady sellers on ebay selling chip amp kits out
of east Asia with counterfeit chips and low quality construction.  I was wary
of 8audio at first, but some searching led me to an article at <a
    href="http://www.beavishifi.com/projects/class_d_amplifier/">beavishifi.com</a>
which mentioned good experiences with them. I wrote the author, and he
re-iterated this.</p>

<p>The main reason I'm going with this kit is that it's pretty cheap, and it'll
save me the tedium of soldering circuits together myself, which is not
something I really love to do.</p>

<p>If you do want to solder the amp yourself, the <a
    href="http://chipamp.com">chipamp.com</a> kits seem to be widely respected,
or you can pretty easily roll your own, without even using a PCB, if you like.
There are many options.  Use the Google.</p>

<h2>transformer</h2>

<p>22<abbr title="volts">V</abbr> seems to be the ideal voltage for these amps.
You can go a bit lower or higher depending on the speakers you're driving, but
I'm looking to build a pretty middle-of-the-road amp.  The lowest amount of
power generally recommended is 160<abbr title="volt-amps, also known as watts">VA</abbr>.
Going a bit higher will help when playing at loud
volumes, and since it was only $7 more than the
200<abbr title="volt-amps, also known as watts">VA</abbr> model,
I decided to go for the 300<abbr title="volt-amps, also known as watts">VA</abbr>.</p>

<p>This part of the amp is much more expensive than the $15-ish laptop-style power
brick that the amp6 can use, but it'll translate to a significantly more
powerful amp.</p>

<h2>digital is good</h2>

<p>I'm going to be using this amp at my computer.  Primarily for listening to
music, but sometimes also a movie.  One of the things that bugs me about my
current setup (internal sound card connected to a typical stereo receiver) is
that a lot of noise is introduced.  When my external hard drive spins up, I can
hear it through my speakers if the volume is up a bit.  If I turn the volume up
moderately with nothing playing, I hear hiss.  This isn't the end of the world,
but it'd be nice to eliminate it, and I'm sure sound fidelity would go up at
least a tiny bit by doing so.</p>

<p>One source of interference is the sound card being inside of the computer, which
is a very noisy place to be, as far as audio electronics are concerned.  Another
issue is the line-level cables running from the computer to the amp.  Both of
these can be eliminated by building a
<abbr title="digital-to-analog converter">DAC</abbr> into the amp, so that the
sound path is purely digital (and thus, generally interference-free) until
right before reaching the amp circuit itself.</p>

<p>You can build your own <abbr
    title="digital-to-analog converter">DAC</abbr> circuit, or buy kits, but
the easiest way to go is to buy an already complete one and take it apart.</p>

<h3>enter the imic</h3>

<p>
    <img src="/images/gainclone/imic.jpg"><br />
    <cite>
        <em><a href="http://www.flickr.com/photos/pritch/103170583/">iMic</a></em>
        &copy; 2006 <a href="http://www.flickr.com/people/pritch/">Huw Pritchard</a>.
    </cite>
    CC by-nc-sa.
</p>

<p>The Griffin iMic is a USB sound card that is basically just a small, cheap DAC.
To turn it into an in-amp
<abbr title="digital-to-analog converter">DAC</abbr>, all one needs to do is
connect its USB cord to a panel-mounted USB female jack, and connect its analog
output into the amp's line-level input.</p>

<p>A more informative and well-written page about using the iMic as a <abbr
    title="digital-to-analog converter">DAC</abbr> can be found at <a
    href="http://www.slugsite.com/archives/916">slugsite.com</a>.</p>

<h2>other parts</h2>

<h3>switches</h3>

<p>You can spend a lot of money on nice rotary input selectors or TOCOS toggle
switches, but I just found some cheap ones at <a
    href="http://web-tronics.com">web-tronics</a> that have silver contacts.
Generally, for input switching, you want to look for switches designed for
low-level switching, and have a rating of less than 5<abbr title="amps">A</abbr>
or so.</p>

<h3>heat sinks</h3>

<p>The LM3886 chips produce enough heat that they must be attached to some sort
of heat sink.  I found two matching computer CPU heat sinks at
<a href="http://freegeek.org">Free Geek</a> for $2 each.
Old Pentium II heat sinks would probably work really well, as they're
black and kind of cool looking, and their fins are widely spaced, which is
optimal when you're not using a fan.</p>

<h3>enclosure</h3>

<p>The only decent, cheap enclosures that seem to be for sale in the US are
from <a href="http://par-metal.com">Par-Metal</a>.  I decided to make my
own out of some scrap wood, aluminum tape (to shield EMI), and a Heineken
5L mini-keg.</p>

<h3>volume control</h3>

<p>You can spend a lot of money on a really high end potentiometer or
stepped attenuator, but I'm not really interested in spending that much
money, and I doubt I'd ever notice enough difference for it to be worth
it.  The Alps blue velvet is a good quality volume control, and is reasonably
inexpensive.  I believe Noble pots are also in a similar price and quality range.</p>

<h3>input/output connectors</h3>

<p>I just bought some cheap ones on eBay.  I probably went a little <em>too</em>
cheap on the RCAs, as their build quality is kind of questionable.  I also got a
1/8" stereo jack from Radio Shack as a front panel input.</p>

<h3>and a sweet chickenhead knob</h3>

<p>I just like the name.</p>

<p><img src="/images/gainclone/chickenhead.jpg" /></p>

<h2>step zero: a test build</h2>

<p>I first assembled the important parts of the amp on a piece of scrap wood, to make
sure I wasn't horribly mistaken about how anything worked.  I got the wiring of the
transformer secondaries mixed up and melted a few fuses in the process, but once I
fixed that, everything worked nicely.  There's a very helpful page at "Decibel Dungeon"
about <a href="http://myweb.tiscali.co.uk/nuukspot/decdun/gainclone_psu.html">building
a gainclone power supply</a>.  The only thing I'd add to it is that if both of your transformer's
secondaries have the same colors colors (like my Antek has blue/green for both), remember that
you can't just wire either of the blues to either of the greens.  I did this and wound up
wiring one secondary winding into a short circuit with itself.  Use a multimeter and make
sure you're chaining the two secondaries together.</p>

<p>
    <img src="/images/gainclone/testbuild-small.jpg"><br>
    <cite>My test build</cite>
</p>

<p>My iMic hadn't come yet, and I wasn't really worried about my ability to figure
out the pre-amp wiring, so this was mostly a test of the amp and power supply, since
I had never built anything like them before.  I only tested one channel of the amp.</p>

<p>A brief listen to the amp at this point showed that
it produced drastically less hiss than my normal low-end consumer-grade
class A/B stereo receiver.  It still picked up the sound of my external hard
drive spinning up, so obviously that sound is either being picked up by the
computer's built-in sound card, or the cables running from the computer to
the amp.  The built-in DAC should mostly (or completely) eliminate this.</p>

<h2>to be continued...</h2>

{% endblock content %}
