{% extends "/base.html" %}
{% set title = "good quotes" %}
{% block content %}

<p>Attitude is the difference between ordeal and adventure.</p>

<p>There's no such thing as security.
-- <strong>Sophia on The Golden Girls</strong></p>

<p>If you can't pay cash, you can't afford it.</p>

<p>Perfection is attained not when there is nothing more to add, but when there is nothing more to remove
-- <strong>Antoine de Saint-Exupéry</strong></p>

<p>The strong do what they have the power to do and the weak accept what they
have to accept.
-- <strong>Thucydides</strong></p>

<p>I've seen occasional articles about how to manage programmers. Really
there should be two articles: one about what to do if you are yourself a
programmer, and one about what to do if you're not. And the second could
probably be condensed into two words: give up.
-- <strong>Paul Graham</strong></p>

<p>One size does not fit all. Stop. Right now, take out a fine-point marker and
write on the inside of your glasses: <em>Software Development
<strong>Is</strong> Decision Making</em>.  "Think" is not a four-letter word.
There are very few if any "never..." and "always..." rules in software -- rules
that you can apply without thinking -- rules that always work in all situations
in all markets -- one-size-fits-all rules.
-- <strong>Marshall Cline, the C++ FAQ Lite guy</strong></p>

<p>To announce that there must be no criticism of the president, or that we
are to stand by the president, right or wrong, is not only unpatriotic and
servile, but is morally treasonable to the American public.
-- <strong>Teddy Roosevelt</strong></p>

<p>I try and tell myself [stress] doesn't matter. Nothing matters . . . you
do shows, you do this, you do that and then you have earthquakes in India
where 400,000 people get killed. Honestly, it doesn't matter. That's how I
handle stress.
-- <strong>Donald Trump</strong></p>

<p>He who takes offense, where none is intended, is a fool. He who takes
offense, where offense is intended, is generally a fool.
-- <strong>Socrates</strong></p>

<p>First they ignore you, then they laugh at you, then they fight you, then
you win.
-- <strong>Ghandi</strong></p>

<p>Optimism means expecting the best, but confidence means knowing how to
handle the worst. Never make a move if you are merely optimistic.
-- <strong>The Zurich Axioms</strong></p>

<p>For an idea which, at first, does not seem absurd, there is no hope.
-- <strong>Albert Einstein</strong></p>

<p>I don't use fancy debuggers, I use print statements and I don't use a
debugger for anything more than getting a stack trace when the program dies
unexpectedly.
-- <strong>Brian Kernighan</strong></p>

<p>Good judgment comes from experience. Experience comes from bad judgment.
-- <strong>Mullah Nasrudin</strong></p>

<p>Never hate your enemies, it clouds your judgement.
-- <strong>Godfather 3</strong></p>

<p>the right system does not guarantee success but the wrong system
guarantees failure.
-- <strong>Dwight D. Eisenhower</strong></p>

<p>The design rule for things like this is not to outsmart yourself. Keep it
simple, and make every little bit earn its keep.
-- <strong>Nathan Myers</strong></p>

<p>As a man, you have to die once in order to live.
-- <strong>unknown</strong></p>

<p>... once we think we know the answer, it's very hard to learn something
new.
-- <strong>Bjarne Stroustrup</strong></p>

<p>A steady salary is an invitation to mediocrity.
-- <strong>unknown</strong></p>

<p>It's simple to make things. It's hard to make things simple.
-- <strong>unknown; found on morphix.org</strong></p>

<p>Man can will nothing unless he has first understood that he must count on
no one but himself; that he is alone, abandoned on earth in the midst of his
infinite responsibilities, without help, with no other aim than the one he
sets himself, with no other destiny than the one he forges for himself on
this earth.
-- <strong>Jean-Paul Sartre</strong></p>

{% endblock content %}
