{% extends "/base.html" %}
{% set title = "index" %}
{% block content %}

<h2>meta</h2>
<ul>
 <li><a href="resume.html">CV/Resume</a></li>
 <li><a href="http://portlandthings.com">PortlandThings.com</a> -- my current side project, built with Django</li>
 <li><a href="http://github.org/mackstann">github</a></li>
 <li><a href="images/nametag.jpg">credentials</a></li>
</ul>

<h2>code projects</h2>
<ul>
 <li>window managers: <a href="tinywm.html">tinywm</a> &middot; <a href="whimsy.html">whimsy</a> &middot; <a href="spook-window-manager.html">spook</a></li>
 <li><a href="mpris-remote.html">mpris-remote</a> and <a href="corn.html">corn</a></li>
 <li><a href="py-libmpdclient2.html">py-libmpdclient2</a></li>
</ul>

<h2>programming-related</h2>
<ul>
 <li><a href="urllib3-testrun.html">urllib3 testrun</a></li>
 <li><a href="postgres-array-stuff.html">postgres array stuff</a></li>
 <li><a href="flash-making-firefox-raise-itself.html">flash making firefox raise itself</a></li>
 <li><a href="thoughts-while-learning-erlang.html">thoughts while learning erlang</a></li>
 <li><a href="simple-unix-shared-memory-interface.html">simple unix shared memory interface</a></li>
 <li><a href="web.py-notes.html">web.py notes</a></li>
 <li><a href="vim-tips.html">vim tips</a></li>
</ul>

<h2>electronics projects</h2>
<ul>
 <li><a href="gainclone.html">gainclone</a></li>
 <li><a href="amp6.html">amp6</a></li>
</ul>

<h2>X11-related</h2>
<ul>
 <li><a href="samsung-2343bwx-xorg-config.html">samsung 2343bwx xorg config</a></li>
 <li><a href="not-so-tiny-window-managers.html">not so tiny window managers</a></li>
 <li><a href="xlib-key-passing.html">xlib key passing</a></li>
 <li><a href="un-bust-your-x-server.html">un bust your x server</a></li>
 <li><a href="linux-format-kahakai-article.html">linux format kahakai article</a></li>
 <li><a href="files/dev/waimea-backports.patch">a couple kahakai features for waimea 0.4</a></li>
</ul>

<h2>linux stuff</h2>
<ul>
 <li><a href="transcoding-music.html">transcoding music</a></li>
 <li><a href="gnome-vfs-command-line-tools.html">gnome vfs command line tools</a></li>
 <li><a href="files/conf/">old config files</a></li>
</ul>

<h2>console gaming</h2>
<ul>
 <li><a href="disgaea-cheat-sheet.html">disgaea cheat sheet</a></li>
 <li><a href="advanced-sim-city-strategies.html">advanced sim city strategies</a></li>
 <li><a href="final-fantasy-6-hacking.html">final fantasy 6 hacking</a></li>
</ul>

<h2>abandoned brainstorms</h2>
<ul>
 <li><a href="flypper.html">flypper</a></li>
 <li><a href="what-to-eat-when-going-back-to-iowa.html">what to eat when going back to iowa</a></li>
 <li><a href="green-home-scratch-page.html">green home scratch page</a></li>
 <li><a href="perfect-keyboard.html">perfect keyboard</a></li>
</ul>

<h2>etc.</h2>
<ul>
 <li><a href="typematrix-review.html">typematrix review</a></li>
 <li><a href="plum-keyboard.html">plum keyboard</a></li>
 <li><a href="intp-links.html">intp links</a></li>
 <li><a href="files/dev/">releases of stuff and stuff</a></li>
 <li><a href="images/tigermp/">toasty tiger mp motherboard</a></li>
 <li><a href="images/fw/">cardboard computer</a></li>
 <li><a href="old-ass-stuff.html">old ass stuff</a></li>
</ul>

{% endblock content %}
