{% extends "/base.html" %}
{% block titlecontent %}
Nick Welch <span class="meta"><a href="resume.html">Software developer</a> and amateur designer &amp; maker of things.</span>
{% endblock titlecontent %}
{% block content %}

<h2>Projects</h2>

<div class="row showcase">
 <div class="span6">
  <a href="http://github.com/mackstann/juiceinformant">Juice Informant</a>, a Raspberry Pi energy monitoring tool
  <img src="images/frontpage/juiceinformant.png"><br>
 </div>
 <div class="span6">
  <a href="/fundstew/">Fund Stew</a>, a data visualization tool for index fund holdings.
  <img src="images/frontpage/fundstew.png"><br>
 </div>
 <div class="span6">
  <a href="http://leastcommon.com/elf-prototype/">Elf</a>, a tiny computer case made of laser-cut bamboo.
  <img src="images/frontpage/elf.jpg"><br>
 </div>
</div>
<div class="row showcase">
 <div class="span6">
  <a href="htpicker.html">htpicker</a>, a home theater frontend app for linux machines.
  <img src="images/frontpage/htpicker.png"><br>
 </div>
 <div class="span6">
  <a href="http://begin-investing.com">Begin Investing</a>, a blog about how to do just that.
  <img src="images/frontpage/begin-investing.png"><br>
 </div>
</div>
<div class="row showcase">
 <div class="span6">
  <a href="http://portlandthings.com">Portland Things</a>, an aggregator for local blogs and feeds.
  <img src="images/frontpage/portlandthings.png"><br>
 </div>
 <div class="span6">
  <a href="2d-bin-packing-with-javascript-and-canvas.html">2D bin packing visualization with javascript and &lt;canvas&gt;</a>
  <img src="images/frontpage/binpack.png"><br>
 </div>
</div>
<div class="row showcase">
 <div class="span6">
  <a href="gainclone.html">A "gainclone" amplifier</a>
  <img src="images/frontpage/gainclone.jpg"><br>
 </div>
 <div class="span6">
  <a href="d3-binary-tree-treemap.html">Binary tree layout</a> for D3's treemap visualization.
  <img src="images/frontpage/d3-binary-tree.png"><br>
 </div>
</div>
<div class="row showcase">
 <div class="span6">
  <a href="http://farecalc.incise.org/">Multi-day fare optimizer for Portland public transit</a>
  <img src="images/frontpage/farecalc.png"><br>
 </div>
 <div class="span6">
  <a href="hash-table-benchmarks.html">Hash table library benchmarks when using lots of keys</a>
  <img src="images/frontpage/hash.png"><br>
 </div>
</div>
<div class="row showcase">
 <div class="span6">
  <a href="http://www.instructables.com/id/Power-LED-Backpack-Lighting-system/">Power LED backpack lighting system at Instructables</a>
  <img src="images/frontpage/leds.jpg"><br>
 </div>
 <div class="span6">
  <a href="http://github.com/mackstann/markovio">Markovio</a>, a random Super Mario Bros. level generator.
  <img src="images/frontpage/markovio.png"><br>
 </div>
</div>



<ul>
 <li><a href="http://reddit.com/r/lowcar/">The low-car subreddit</a>, a reddit community I started about reducing car dependence.</li>
 <li><a href="mpris-remote.html">mpris-remote</a>, a command-line tool for controlling media players.</li>
 <li><a href="tinywm.html">TinyWM</a>, the tiniest window manager ever.</li>
 <li><a href="whimsy.html">Whimsy</a>, a window manager written in Python.</li>
 <li><a href="corn.html">Corn</a>, a small music playing daemon.</li>
 <li><a href="py-libmpdclient2.html">py-libmpdclient2</a>, a Python library for controlling MPD (Music Player Daemon).</li>
 <li><a href="searching-for-a-good-grep.html">A comparison of grep alternatives</a></li>
 <li><a href="android-development-on-the-command-line.html">Tips for command-line based Android development</a></li>
 <li><a href="urllib3-testrun.html">A comparison between urllib3 and httplib2</a></li>
 <li><a href="torrentfinder.html">A small script for automating TPB searches</a></li>
 <li><a href="syncing-non-networked-computers-with-rdiffdir.html">How to sync non-networked computers with rdiffdir</a></li>
 <li><a href="transcoding-music.html">Transcoding music on the command line</a></li>
</ul>

<h2>Old, embarrassing, or uninteresting</h2>
<ul>
 <li><a href="amp6.html">amp6 (precursor to gainclone project; plans only)</a></li>
 <li><a href="postgres-array-stuff.html">postgres array stuff</a></li>
 <li><a href="flash-making-firefox-raise-itself.html">a hack to prevent flash from raising firefox windows to the top</a></li>
 <li><a href="thoughts-while-learning-erlang.html">thoughts while learning erlang</a></li>
 <li><a href="simple-unix-shared-memory-interface.html">unix shared memory example</a></li>
 <li><a href="samsung-2343bwx-xorg-config.html">samsung 2343bwx xorg config</a></li>
 <li><a href="not-so-tiny-window-managers.html">not-so-tiny window managers</a></li>
 <li><a href="xlib-key-passing.html">xlib key passing</a></li>
 <li><a href="un-bust-your-x-server.html">un-bust your x server</a></li>
 <li><a href="linux-format-kahakai-article.html">linux format kahakai article</a></li>
 <li><a href="disgaea-cheat-sheet.html">disgaea cheat sheet</a></li>
 <li><a href="advanced-sim-city-strategies.html">advanced sim city strategies</a></li>
 <li><a href="old-ass-stuff.html">even more old crap</a></li>
</ul>

{% endblock content %}

{% block comments %}{% endblock comments %}
