{% extends "/base.html" %}
{% set title = "intp links" %}
{% block content %}

<h1><a href="intp-links.html">intp links</a>, grouped by quality</h1>

<h3>great</h3>

<p><table class="table table-bordered">
<tr><td>link</td><td>note</td></tr>
<tr><td> <a href="http://intp.pauljames.de">http://intp.pauljames.de</a> </td><td> the INTP profile to end all INTP profiles </td></tr>
<tr><td> <a href="http://209.15.29.56/myersbriggs/intp.htm">http://209.15.29.56/myersbriggs/intp.htm</a> </td><td> </td></tr>
<tr><td> <a href="http://209.15.29.56/myersbriggs/conceptualist.htm">http://209.15.29.56/myersbriggs/conceptualist.htm</a> </td><td> NTs </td></tr>
<tr><td> <a href="http://www.geocities.com/lifexplore/intp.htm">http://www.geocities.com/lifexplore/intp.htm</a> </td><td> "the wizard" </td></tr>
<tr><td> <a href="http://homepage.mac.com/bahlberg/iblog/B1386252977/">http://homepage.mac.com/bahlberg/iblog/B1386252977/</a> </td><td> "to be an INTP" blog </td></tr>
<tr><td> <a href="http://www.murraystate.edu/secsv/fye/INTP.htm">http://www.murraystate.edu/secsv/fye/INTP.htm</a> </td><td> </td></tr>
<tr><td> <a href="http://www.intpcentral.com/">http://www.intpcentral.com/</a> </td><td> forums, irc </td></tr>
<tr><td> <a href="http://www.wsc.edu/advising/program/career/personality/intp.html">http://www.wsc.edu/advising/program/career/personality/intp.html</a> </td><td> </td></tr>
</table></p>


<h3>good</h3>

<p><table class="table table-bordered">
<tr><td>link</td><td>note</td></tr>
<tr><td> <a href="http://www.livejournal.com/community/jmbt_intp/">http://www.livejournal.com/community/jmbt_intp/</a> </td><td> INTP group on livejournal </td></tr>
<tr><td> <a href="http://www.typelogic.com/intp.html">http://www.typelogic.com/intp.html</a> </td><td> </td></tr>
<tr><td> <a href="http://www.personalitypage.com/INTP.html">http://www.personalitypage.com/INTP.html</a> </td><td> </td></tr>
<tr><td> <a href="http://www.legran.com/type/intp.html">http://www.legran.com/type/intp.html</a> </td><td> </td></tr>
<tr><td> <a href="http://www.personalitypage.com/INTP_rel.html">http://www.personalitypage.com/INTP_rel.html</a> </td><td> relationships </td></tr>
</table></p>

<h3>ok</h3>

<p><table class="table table-bordered">
<tr><td>link</td><td>note</td></tr>
<tr><td> <a href="http://keirsey.com/personality/ntip.html">http://keirsey.com/personality/ntip.html</a> </td><td> </td></tr>
<tr><td> <a href="http://keirsey.com/personality/nt.html">http://keirsey.com/personality/nt.html</a> </td><td> NTs </td></tr>
<tr><td> <a href="http://keirsey.com/einstein.html">http://keirsey.com/einstein.html</a> </td><td> einstein </td></tr>
</table></p>

{% endblock content %}
