{% extends "/base.html" %}
{% set title = "linux format kahakai article" %}
{% block content %}
This little article appeared in issue #44 of
<a href="http://linuxformat.co.uk">Linux Format Magazine</a>, in September of 2003.  I was
told about it back then, but couldn't find any place local that sold Linux
Format.  I just now (summer 2004) stumbled into someone who happened to have
the issue, so I copied and then scanned it, and here it is.  Look ma, I'm
famous!  Or was!  Or .. well, wasn't.  Whatever.

<img src="/images/kahakai-article-opt-small.gif">

<a href="/images/kahakai-article-opt.gif">bigger version</a>
{% endblock content %}
