{% extends "/base.html" %}
{% set title = "py libmpdclient2" %}
{% block content %}
<h2>What it is</h2>
py-libmpdclient2 is a Python library for making <a
href="http://musicpd.org">MPD (Music Player Daemon)</a> clients.  It replaces
py-libmpdclient and is completely redesigned and written from the ground up.
The result is a much smaller, simpler, more reliable, and more dynamic library.

<h2>Download</h2>
<ul>
 <li><a href="http://incise.org/files/dev/py-libmpdclient2-1.0.tgz">http://incise.org/files/dev/py-libmpdclient2-1.0.tgz</a></li>
</ul>

<h2>Using py-libmpdclient2</h2>
<code>test.py</code> should do a decent job of showing how the module works --
it's pretty straightforward and based on MPD's network protocol.

py-libmpdclient2 is now in Ubuntu, in the python-mpdclient package.

<a href="http://pypi.python.org/pypi/py-libmpdclient2/1.0">It is also in the Python Package Index now</a>, so you can just <code>easy_install py-libmpdclient2</code>.

<h2>Projects using py-libmpdclient2</h2>
<ul>
 <li><a href="http://eleusis.f2o.org/projects/xmms2/chalyx/">Chalyx</a> - a python library to make it easier to write XMMS2 and MPD clients</li>
 <li><a href="http://arton.cunst.net/mpd/">pbmpcd</a> - python bemused music player client daemon</li>
 <li><a href="http://dadexter.googlepages.com/kanola">Kanola</a> - a mpd client for KDE, written in Python</li>
 <li><a href="http://pygmy.berlios.de">Pygmy</a> - Python GTK+ MPD player</li>
 <li><a href="http://pympd.sf.net">pympd</a> - a frontend for mpd in the style of rhythmbox and itunes, written in python, with pygtk</li>
 <li><a href="http://www.red-bean.com/~decklin/software/lastfmsubmitd/">lastfmsubmitd</a> - a replacement for the traditional Last.fm plugin model</li>
 <li><a href="http://sonata.berlios.de">Sonata</a> - a lightweight GTK+ music client for the Music Player Daemon (MPD)</li>
</ul>

{% endblock content %}
