body { font-family: sans-serif; max-width: 750px; }
p { line-height: 1.4em; }
table.tabular, table.tabular tr { background: #aaa; }
table.tabular td, table.tabular th { background: white; }
address { font-size: small; }
.titledate { font-size: small; color: #555; vertical-align: super; }
pre { background: #333; color: #eee; padding: 5px; overflow: auto; }
td ul, td ol { margin-bottom: 0px; }
