{% extends "/base.html" %}
{% set title = "final fantasy 6 hacking" %}
{% block content %}

<p>AKA Final Fantasy 3/III, ff6j, ffvi, ff3us, etc.</p>

<h2>Onsite</h2>

<p>- nothing yet -</p>

<h2>On the internets</h2>

<p><ul>
 <li><a href="http://www.zophar.net/wwwthreads/showthreaded.php?Cat=&Board=romhack&Number=245347&page=0&view=collapsed&sb=5&o=0">The motherload of ff6/3 hacking links </a></li>
 <li><a href="http://www.datacrystal.org/wiki/Final_Fantasy_III_%28US%29">FFIII on Data Crystal wiki</a></li>
 <li><a href="http://www.angelfire.com/pq/jumparound/">Lord J</a></li>
 <li><a href="http://www.tales-cless.org">Cless</a></li>
 <li><a href="http://masterzed.cavesofnarshe.com">Master ZED</a></li>
 <li><a href="http://members.aol.com/cklein0001/">CRK</a></li>
</ul></p>

{% endblock content %}
