<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="sitetitle">
                        {% block titlecontent %}
                            <a href="/">incise.org</a>:
                            {{ title }}
                        {% endblock titlecontent %}
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

            <hr />

            <address>
                Nick Welch
                <a href="mailto:nick@incise.org">&lt;nick@incise.org&gt;</a> &middot;
                <a href="http://github.com/mackstann">github</a> &middot;
                <a href="http://twitter.com/bunengine">twitter</a>
            </address>

            <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
                try {
                    var pageTracker = _gat._getTracker("UA-11422404-1");
                    pageTracker._trackPageview();
                } catch(err) {}
            </script>
        </div>
    </body>
</html>
